@model List<Movie>

<div id="tab24" class="tab">
	<div class="row">
		<div class="slick-multiItem">
			@foreach(var item in Model)
			{
				<div class="slide-it">
					<div class="movie-item">
						<div class="mv-img">
							<img src="~/Film-Review-Movie-Database/images/uploads/mv-item5.jpg" alt="" width="185" height="284">
						</div>
						<div class="hvr-inner">
							<a href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>
						</div>
						<div class="title-in">
							<h6><a href="#">Interstellar</a></h6>
							<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
						</div>
					</div>
				</div>
			}
			
			
		</div>
	</div>
</div>