@model List<Movie>

<div id="tab22" class="tab active">
	<div class="row">
		<div class="slick-multiItem">

			@foreach(var item in Model)
			{

				<div class="slide-it">
					<div class="movie-item">
						<div class="mv-img">
							<div style="padding:5px; width:185px; height:284px;">
								<img src="@item.MovieImage" alt="" style="width:100%; height:100%; object-fit:cover;">
							</div>
						</div>
						<div class="hvr-inner">
							<a href="/MovieDetail/Movie/@item.MovieID"> İzle  <i class="fa-solid fa-eye"></i> </a>
						</div>
						<div class="title-in">
							<h6><a href="#">@item.MovieName</a></h6>
							<p><i class="fa-solid fa-clock"></i><span>@item.MovieTime</span> Dakika</p>
						</div>
					</div>
				</div>
			}
			
		
		</div>
	</div>
</div>