
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MovieLayout.cshtml";
}

<div class="slider movie-items">
	<div class="container">
		<div class="row">
			<div class="social-link">
				<p>Follow us: </p>
				<a href="#"><i class="ion-social-facebook"></i></a>
				<a href="#"><i class="ion-social-twitter"></i></a>
				<a href="#"><i class="ion-social-googleplus"></i></a>
				<a href="#"><i class="ion-social-youtube"></i></a>
			</div>
			@await Component.InvokeAsync("_MovieHomeSlider")


		</div>
	</div>
</div>
<div class="movie-items">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-8">
				<div class="title-hd">
					<h2>Bunlara Bi Bak</h2>
					<a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="tabs">
					<ul class="tab-links">
						<li class="active"><a href="#tab1">#Öneriler</a></li>
						<li><a href="#tab2">    #Ödüllüler</a></li>
						<li><a href="#tab3">    #Beğenilenler</a></li>
						<li><a href="#tab4">    #Rastgele</a></li>
					</ul>
					<br />
					<div class="tab-content">
						
						@await Component.InvokeAsync("_MovieHomeAdvice")
						@await Component.InvokeAsync("_MovieHomePrizes")
						@await Component.InvokeAsync("_MovieHomeLikes")
						@await Component.InvokeAsync("_MovieHomeRandom")
						
						
					</div>
				</div>
				<div class="title-hd">
					<h2>on tv</h2>
					<a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="tabs">
					<ul class="tab-links-2">
						<li><a href="#tab21">#EnKısa</a></li>
						<li class="active" ><a href="#tab22"> #EnUzun</a></li>
						<li><a href="#tab23"> # EnYeni</a></li>
						<li><a href="#tab24"> #EnEski</a></li>
					</ul>
					<br />
					<div class="tab-content">
						@await Component.InvokeAsync("_MovieHomeShort")	
						@await Component.InvokeAsync("_MovieHomeLong")
						@await Component.InvokeAsync("_MovieHomeNew")
						@await Component.InvokeAsync("_MovieHomeLast")
						
						
					</div>
				</div>
			</div>





			<div class="col-md-4">
				<div class="sidebar">
				<a href="#">	<div class="ads">
						<img src="~/images/bagis.gif" alt="" width="336" height="296">
					</div>
					</a>
					@await Component.InvokeAsync("_MovieHomeDirectors")

				</div>
			</div>
		</div>
	</div>
</div>

