@model List<Category>
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/MovieLayout.cshtml";
}
<style>
	.ceb-item-style-2 {
		width: 350px;
		height: 350px;
		background-size: cover;
		background-position: center;
		position: relative;
		transition: transform 0.3s;
	}


		.ceb-item-style-2:hover {
			transform: scale(1.1);
		}

	.ceb-infor {
		position: absolute;

		bottom: 30px;;
		left: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		padding: 10px;
		transform-origin: right top;
		transition: transform 0.3s;
	}

	.ceb-item-style-2:hover .ceb-infor {
		transform: rotate(-5deg);
	}


</style>
<div class="hero common-hero" style="height:300px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1 class="animate__animated animate__bounceInDown ">Kategoriler</h1>
				
				</div>
			</div>
		</div>
	</div>
</div>
<!-- celebrity grid v2 section-->
<div class="page-single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-12 col-sm-12 col-xs-12">
				
					<div class="row" style="display:flex; flex-wrap:wrap ">
						@foreach(var item in Model){

						<div class="col-md-4">

							<div class="ceb-item-style-2" style="background-image: url('@item.CategoryImage');">
								

								<div class="ceb-infor">
										<h2><a style="font-size: 2rem;" href="/MovieCategory/Category/@item.CategoryID">@item.CategoryName</a></h2>
									@if (item.Movies.Count>0)
									{
										<a href="/MovieCategory/Category/@item.CategoryID">
										<span style="color:white;">@item.Movies.Count Adet Film Bulunmaktadır.</span>
										</a>
									}
									else
									{<a href="/MovieCategory/Category/@item.CategoryID">
										<span style="color:white;">Film Bulunmamaktadır.</span>
										</a>
									}

								</div>


								</div>
							</div>
						



						
						}
						

						
						

						
					</div>
				
				
			
				
			</div>
			*
		</div>
	</div>
</div>