@model List<Movie>

<div class="slick-multiItemSlider">
	@foreach(var item in Model)
	{
		<div class="movie-item ">
			<a href="/MovieDetail/Movie/@item.MovieID">
				<div class="mv-img">
			
					<div style="padding:5px; width:285px; height:437px;">
					<img src="@item.MovieImage" style="width:100%; height:100%; object-fit:cover;" alt="">
				</div>
			
			</div>	</a>
			<div class="title-in">
				<div class="cate">
				</div>
				<h6><a href="#">@item.MovieName</a></h6>
				<p><i class="ion-android-star"></i><span>@item.Category.CategoryName</span> </p>
			</div>
		</div>
	}
	
	
</div>