
<div class="comment-form">
    <h4>Leave a comment</h4>
    <form method="post" asp-action="AddComment" asp-controller="MovieDetail">
        <input type="hidden" name="MovieID" value="@Model.MovieID">
        <div class="row">
            <div class="col-md-6">
                <input type="text" placeholder="İsminiz" required name="CommentNameSurname">
            </div>
            <div class="col-md-6">
                <input type="text" placeholder="Mail Adresiniz" required name="CommentMail">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea name="CommentContent" id="" required placeholder="Mesajınız " rows="5"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input class="submit" type="submit" value="Gönder">
            </div>
        </div>
    </form>
</div>
